 .accordion-container{
        flex-basis: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .accordion-title-and-button{
            display: flex;
            justify-content: end;
            background-color: #FF6060;
            padding:10px;
            border-radius: 10px;;
            .accordion-title{
                margin-right: auto;
                color: #ffff;
            }
            .accordion-button{
                border: none;
                background-color: transparent;
                color: #ffff;
                font-size: 30px;
                cursor: pointer;
                transition: transform .3s ease-in;
            }
            .active{
                transform: rotate(-180deg);
            }
        }
        .accordion-content{
            padding: 10px;
            background-color: #F6F6F6;
            height: 200px;
            
            animation: drop-down 1s linear;
            transition:animation 1s ease-in;
            
        }
       .open{
            max-height: 300px;
            opacity: 1;
        }
    }
    @keyframes drop-down {
        from{height:0px;opacity: 0;}
        to{height:200px;opacity: 1;}
    }

 