$main-bg-color:#F6F6F6;
.collapse-container{
    .collapse-item{
        display: flex;
        background-color: #FF6060;
        border-radius: 5px;
        align-items: center;
        padding: 0 10px;
        .arrow{
            margin-right: auto;
            cursor: pointer;
            transition: transform 0.3s ease;
            border: none;
            background-color: transparent;
        }
        .active{
            transform: rotate(-180deg);
        }
        .title{
            color: #fff;
            width: 100%;
          }
        
    }
    .description{
        background-color:$main-bg-color;
        overflow: hidden;
        // padding-block: 1em;
        transition: height .2s linear;
        margin: 0;
        animation: fade-in .3s linear;
        animation-iteration-count:1;
       
        .description-text{
           line-height: 1.5;
            font-size: 16px;
            margin: 0;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            // height: 200px;
        }
    }

}
@keyframes fade-in {
    from{max-height: 0;}
    to{max-height:200px;}
}
@media(max-width:710px){
    .collapse-container{
        .collapse-item{
            .title{
                font-size: 1em;
            }
        }
        .collapse-item{
            .description-text{
                line-height: 1;
                font-size: 14px;
            }
        }
    }
}


