.error-page-container {
  display: flex;
  flex-direction: column;
  gap: 7em;
  align-items: center;
  margin-block: 40px;
  padding: 0;
  margin: 0;
  .error-message {
    color: #ff6060;
    font-size: 36px;
    flex-shrink: 1;
    text-align: center;
  }
  img {
    flex-shrink: 1;
    display: flex;
  }
  a {
    color: inherit;
  }
}
@media (max-width: 720px) {
  .error-page-container {
    .error-message {
      font-size: 1.3em;
    }
  }
}
