.house-content{
    display: flex;
    flex-direction: column;
    gap: .5em;
    .slider{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 415px;
        .slider-item{
            width: 100%;
            height:100%;
            position: relative;
            object-fit: cover;
        }
        .prev-button, .next-button{
            border: none;
            background-color: transparent;
            position: absolute;
            top: 50%;
            cursor: pointer;
            z-index: 100;
        }
        .prev-button{
            left: 5px;
        }
        .next-button{
            right: 5px;
            
        }
        .slider-pagination{
            position: absolute;
            bottom: 1em;
            left: 50%;
            color: #ffff;
            font-weight: 400;
            z-index:100;
        }
    }
    .house-properties{
        display: flex;
        align-items: center;
        .title-location-tags{
            h2{
                color: #FF6060;
            }
            display: flex;
            flex-direction: column;
            width: 70%;
        }
        .tags{
            ul{
                list-style-type: none;
                display: flex;
                justify-content: start;
                padding: 0;
                gap:1em;
                li{
                    background-color: #FF6060;
                    color: #ffff;
                    padding: .5em 1em;
                    border-radius: 10px;
                    height: 24px;
                    font-size: 1em;
                }
            }
          
        }
    .host-and-ratings{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 5em;
        .host-container{
            display: flex;
            justify-content: end;
            align-items: center;
            .host-title{
                margin: 0;
                padding: 0;
                height: 64px;
                display: flex;
                align-items:center;
                width: 4.5em;
                margin-right:0;
                text-align: start;
                color: #FF6060;
            }
        }
        .rating-stars-container{
            width: 100%;
            display: flex;
            justify-content: end;
        }
    }
        
    }
    .details{
        display: flex;
        justify-content: center;
        gap: 3em;
        .accordion{
            // display: inline-block;
            // width: 50%;
            flex-basis: 50%;
        }
    }
}
@media(max-width:710px){
  .house-content{
    padding: 0;
    .details{
        flex-direction: column;
        .accordion{
            width: 100%;
        }
    } 
   .house-properties{
        flex-direction: column;
        align-items: start;
       
        .host-and-ratings{
            flex-direction: row;
            width: 100%;
            align-items: center;
            gap: 0;
            padding: 0;
            justify-content: start;
            .rating-stars-container{
                order: 1;
                // width:50%;
                margin-right:auto;
                display: flex;
                justify-content: start;
                
            }
            .host-container{
                order: 2;
                width: 70%;
            }
        }
        .tags{
            width: 100%;
            ul li{
                font-size: .7em;
                
            }
        }
   }
   .details{
    display: flex;
    flex-direction: column;
    gap:0
   }
  }
}